
<link rel="stylesheet" href="/css/menus.css">
<link rel="stylesheet" href="/css/moviint.css">

<main class="index">




    <header class="masthead d-flex">
        <div class="container text-center my-auto">
            <h1 class="mb-1"></h1>
            <img src="/img/LogoInterTmediano.png" style="filter: drop-shadow(10px 10px 20px #000);">
            <h3 class="mb-5">
                {{!-- <em>Su aliado tecnologico</em> --}}
            </h3>
            <a class="btn btn-primary btn-lg" href="/signin">
                Ingresar
            </a>
        </div>
        <div class="overlay"></div>
    </header>
</main>

